<!doctype html>

{% extends 'base.html'%}
{% block title %}
     Academic
{% endblock %}
{% block content %}
<link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/academic.css')}}">
<div class="academic">
    <div class="top">
        <div class="child-left">
            <h2>
                Publications
            </h2>
            <img onclick="window.open('https://www.tapinto.net/towns/fair-lawn-slash-glen-rock/sections/education/articles/fair-lawn-students-graduate-with-associate-s-degree-before-high-school-graduation','_newtab');" class="article" src="{{ url_for('static', filename='assets/article1.png') }}">
            <img onclick="window.open('https://www.tapinto.net/towns/fair-lawn-slash-glen-rock/sections/education/articles/fair-lawn-high-school-students-on-their-way-to-associate-s-degree','_newtab');" class="article" src="{{ url_for('static', filename='assets/article2.png') }}">


        </div>
        <div class="child-right">
            <img class="img-1" src="{{ url_for('static', filename='assets/chair.jpeg') }}">
        </div>
    </div>
</div>

{% endblock %}