<!doctype html>

{% extends 'base.html'%}
{% block title %}
     Athletic
{% endblock %}
{% block content %}
<link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/athletic.css')}}">
<div class="home">
    <div class="img_container">
            <img class="hockey_img" src="{{ url_for('static', filename='assets/athletic6.png') }}" style="width:100%">
    </div>
    <div class="link_container">
            <img class="article-links" src="{{ url_for('static', filename='assets/article-1.png') }}" style="width:100%">
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/athletic.js')}}"></script>
{% endblock %}