<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Natenzon</title>
    <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/base.css')}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=EB+Garamond" />

</head>
<body>
<div class="header">
    <ul class="tabs">
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.aboutme' ) }}';" id="about-me"> <span class="tab-title">About Me</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.academic' ) }}';" id="academic-accomplishments"> <span class="tab-title">Academic</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.athletic' ) }}';" id="athletic-accolades"> <span class="tab-title">Athletic</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.mybook' ) }}';" id="my-book"> <span class="tab-title">My Book</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.artphoto' ) }}';" id="Art"> <span class="tab-title">Art/Photography</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.contact' ) }}';" id="future-plans"> <span class="tab-title">Contact</span></li>
</ul>
</div>



{% block content %}
{% endblock %}
</body>
</html>