<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Michael Natenzon</title>
    <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/base.css')}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=EB+Garamond" />
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>

</head>
<body>
<div class="header">
    <ul class="tabs">
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.home' ) }}';" id="home"> <span class="tab-title">HOME</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.academic' ) }}';" id="academic-accomplishments"> <span class="tab-title">ACADEMIC</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.athletic' ) }}';" id="athletic-accolades"> <span class="tab-title">ATHLETIC</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.mybook' ) }}';" id="my-book"> <span class="tab-title">MY BOOK</span></li>
    <li class="tab" onclick="window.location.href='{{ url_for( 'views.artphoto' ) }}';" id="Art"> <span class="tab-title">ART/PHOTOGRAPHY</span></li>
</ul>
</div>



{% block content %}
{% endblock %}
</body>
</html>