<!doctype html>

{% extends 'base.html'%}
{% block title %}
     My Book
{% endblock %}
{% block content %}
<link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/book.css')}}">
<div class="home">
    <h2>
        Coming Soon....
    </h2>
    <h3>
        Chapters
    </h3>
    <ul>
        <li> Chapter 1: Manifest Your Destiny </li>

        <li> Chapter 2: Changing the World, One step at a Time </li>

        <li> Chapter 3: Avoid the unhappy and the unlucky ( credit to the 48 laws of power by Robert Greene) </li>

        <li> Chapter 4: Never Speak too Soon </li>

        <li> Chapter 5: God Eee’s Everything </li>

        <li> Chapter 6: Lions Don’t Lose Sleep Over Sheep </li>

        <li> Chapter 7: Everything happens for a reason </li>

        <li> Chapter 8: Don’t let Life Pass You By </li>

        <li> Chapter 9: No Peak </li>

        <li> Chapter 10: The World is Yours </li>

    </ul>
    <iframe src="https://www.w3schools.com" title="W3Schools Free Online Web Tutorials">
</iframe>

    </div>

{% endblock %}