<!doctype html>

{% extends 'base.html'%}
{% block title %}
     Home Page
{% endblock %}
{% block content %}
<link rel="stylesheet"type="text/css" href="{{url_for('static',filename='styles/home.css')}}">
<div class="home">
     <div class="title">
          <img id="bg" src="{{ url_for('static', filename='assets/city.png')}}">
          <div class="name">
               <h1>Michael</h1>
               <h1>Natenzon</h1>
          </div>
          <div class="portrait-container">
               <img class="portrait" src="{{ url_for('static', filename='assets/better_portrait.png') }}">
          </div>

     </div>
     <div class="aboutme">
          <h2> About Me
          </h2>
          <p>I am a senior at Rutgers University majoring in Computer Science. Outside the classroom I enjoy playing on the Division 2 Hockey team and am a member of the Chess team. I am graduating Rutgers with a Bachelor’s degree 1.5 years early as I earned an Associates degree alongside my high school studies, as part of the “Early Bergen Community College Program.”</p>
          <hr/>
          <h3>
               <div class="download-button" >
                    <a href="{{url_for('views.download_file')}}"> Download Resume</a>
               </div>
          </h3>
     </div>
     <div class="gray">
          <h2 class="contact-title"> Contact</h2>
          <div class="container">
               <div class="socialcircle" style="cursor:pointer;" onClick="window.open('https://www.instagram.com/michael_natenzon/','_newtab');">
                    <img class="icon" src="{{ url_for('static', filename='assets/instagram.png') }}">
               </div>
               <div class="socialcircle" style="cursor:pointer;" onClick="window.open('https://www.linkedin.com/in/michael-natenzon-37114b1b7/','_newtab');">
                    <img class="icon" src="{{ url_for('static', filename='assets/linkedin.png') }}">
               </div>
               <div class="socialcircle" style="cursor:pointer;" onclick="location.href='mailto:mnatenzon2002@gmail.com';">
                    <img class="icon" src="{{ url_for('static', filename='assets/gmail.png') }}">
               </div>
               <div class="socialcircle" style="cursor:pointer;" onclick="location.href='https://github.com/fairlawn70';">
                    <img class="icon" src="{{ url_for('static', filename='assets/github.png') }}">
               </div>
          </div>


     </div>



</div>

{% endblock %}