home.css
h1 {
    color: blue;
}
.img_container {
    margin-top: 70px;
    width: 49%;
    float: left;

}
.link_container {
    width: 49%;
    margin-top: 70px;
    float: right;
    padding: 10%;

}
.article-links {
    margin: auto;
    width: 90%;

}


.hockey_img {
    width: 100%;

}

