body {
    font-family: "EB Garamond";
}


ul.tabs {

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    list-style-type: none;
    margin: 5px;
    padding: 0;


}
ul.tabs>li.tab {

    flex: 1;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px
}

ul.tabs span {
    font-size: 27px;
}