
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2676ed;
    width: 100%;
    opacity: 90%;
}


ul.tabs {

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;


}
ul.tabs>li.tab {
    flex: 1;
    text-align: center;
    border: 0px solid black;
    margin: 5px;
    padding: 10px

}

ul.tabs span {
    font-size: 18px;
    color: white;
    font-weight: 1000;
    font-style: bold;
}

ul.tabs span:hover {
    font-size: 18px;
    color: black;
    font-weight: 1000;
    font-style: bold;
    border-bottom: 1px solid black;

}

