.chapters li {
    display: block;
    font-size: 24px;
    line-height: 40px;
}
.chapters {
    display: block;
}
.chapter-div {
    display: block;
    margin: auto;
    width: 60%;
}
h2 {
    margin-top: 150px;
    color: #0d2737;
    font-size: 60px;
    text-align: center;
}
.home li {
}